Source: debunk2
Section: unknown
Priority: optional
Maintainer: Håvard Dahle <havard@dahle.no>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: debunk2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
